<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="enrollee">
            <h2><span>Enrollee</span> {{ enrollee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ enrollee.name }}</span>
                </dd>
                <dt><span>Activation Status</span></dt>
                <dd>
                    <span>{{ enrollee.activationStatus }}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{ enrollee.birthDate }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ enrollee.phoneNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/enrollee', enrollee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
